atlasws/atlasws/Service References/hdiservice/PublicServicesAutos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Public.Services.Autos.MessageContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Public.Services.Autos.MessageContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ubicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Latitud" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitud" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubicacion" nillable="true" type="tns:Ubicacion" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="Resultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resultado" nillable="true" type="tns:Resultado" />
</xs:schema>